html {
  body {
    overflow: hidden;
  }

  font-size: 8px;
  font-family: Roboto, monospace;

  div.container > button {
    &:disabled {
      cursor: not-allowed;
      color: lightgray;

      &:hover {
        color: lightgray;
      }
    }
  }

  table {
    thead > tr > th, tbody > tr > td {
      border: 1px solid gray;

      input {
        &[type="text"], &[type="number"] {
          border: none;
        }
      }
    }
  }

  .z-1 {
    z-index: 1
  }

  .z-2 {
    z-index: 2
  }

  .z-3 {
    z-index: 3
  }

  .z-4 {
    z-index: 4
  }

  .z-5 {
    z-index: 5
  }

  .z-10 {
    z-index: 10;
  }


  .bs-5 {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  }

  ol, ul {
    margin: 0;
    padding: 0 2rem;
  }

  button {
    user-select: none;

    &.ha {
      padding: 0 2px;
      line-height: 1.4rem;

      &:disabled {
        color: dimgray;
        cursor: not-allowed;
      }
    }
  }

  p {
    margin: 0;
  }

  pre {
    font-size: 1rem;
    font-family: monospace;
  }

  label {
    user-select: none;
  }

  label.character-edit__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }

  label.chat-list__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }

  label.note-manager__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }
}

