html {
  body {
    overflow: hidden;
  }

  font-size: 8px;

  div.container > button {
    &:disabled {
      cursor: not-allowed;
      color: lightgray;

      &:hover {
        color: lightgray;
      }
    }
  }

  table {
    thead > tr > th, tbody > tr > td {
      border: 1px solid gray;

      input {
        &[type="text"], &[type="number"] {
          border: none;
        }
      }
    }
  }

  pre {
    font-size: 1rem;
    font-family: monospace;
  }
}

