html {
  body {
    overflow: hidden;
  }

  font-size: 8px;
  font-family: Roboto, monospace;

  div.container > button {
    &:disabled {
      cursor: not-allowed;
      color: lightgray;

      &:hover {
        color: lightgray;
      }
    }
  }

  table {
    thead > tr > th, tbody > tr > td {
      border: 1px solid gray;

      input {
        &[type="text"], &[type="number"] {
          border: none;
        }
      }
    }
  }

  .z-10 {
    z-index: 10;
  }

  .z-1 {
    z-index: 1
  }

  ol, ul {
    margin: 0;
    padding: 0 2rem;
  }

  button {
    user-select: none;

    &.ha {
      padding: 0 2px;
      line-height: 1.4rem;
    }
  }

  pre {
    font-size: 1rem;
    font-family: monospace;
  }

  label {
    user-select: none;
  }

  label.character-edit__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }

  label.chat-list__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }

  label.note-manager__textarea-wrapper > textarea {
    width: calc(100% - 8px);
  }
}

